body {
    background-color: yellow;
}
#map {
    background-color: grey;
    height: 600px;
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 25px;
}
#cadreMap {
    background-color: grey;
    height: 650px;
    width: 650px;
    overflow: hidden;
    margin-bottom: 20px;
    display: none;
}
#cadreLog {
    background-color: brown;
    height: 190px;
    width: 650px;   
    overflow: hidden;
    margin-bottom: 20px;
    display: none;
}
#log {
    background-color: black;
    color: #04e810;
    height: 100px;
    width: 560px;
    margin-top: 25px;
    margin-left: 25px;
    padding: 20px;
}
#audioOff {
    display: none;
}
#audioOn {
    display: none;
}
#generateMap {
    display: none;
}
.audioBtn {
    margin-bottom: 15px;
}
.initMessage{
    height: 600px;
    width: 600px;
    background-image: url('../media/opening.png');
    background-size: 160%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 60;
}

.grass {
    background-image: url("../media/grass.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.stone {
    background-image: url("../media/lave.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.epee {
    background-image: url("../media/epee.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.dague {
    background-image: url("../media/dague.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.sabre {
    background-image: url("../media/sabre.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.hache {
    background-image: url("../media/hache.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.epeeBois {
    background-image: url("../media/epeebois.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.playerOne {    
    background-image: url("../media/steve.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.playerTwo {
    background-image: url("../media/link.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
}
.pathTrue {
   filter: contrast(200%);
   z-index: 50;
}
.active {
    filter: contrast(200%);
}